body {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.face-down {
    /* color: white; */
    /* background-color: black; */
}

button.hit,
button.stay,
button.play {
    visibility: hidden;
}

button.hit.visible,
button.stay.visible,
button.play.visible {
    visibility: visible;
}

.suit-icons.wait-animation span {
    display: inline-block;
    animation: wait-animation normal 2.7s;
}
.suit-icons.wait-animation span:nth-child(3) { animation-delay: .1s }
.suit-icons.wait-animation span:nth-child(2) { animation-delay: .2s }
.suit-icons.wait-animation span:nth-child(1) { animation-delay: .3s }

@keyframes wait-animation {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(10px, -10px) scale(110%); }
    50% { transform: translate(20px, 0px) scale(130%); }
    75% { transform: translate(10px, 10px) scale(110%); }
    100% { transform: translate(0px, 0px); }
}
