:root {
    --player-1-color: thistle;
    --player-2-color: wheat;
    --player-1-color-dark: rgb(182, 73, 182);
    --player-2-color-dark: rgb(216, 153, 36);
}

* {
    box-sizing: border-box;
}

body {
    transition: all .3s;
    font-family: 'Lato', sans-serif;
}
body.player-1 { background-color: var(--player-1-color); }
body.player-2 { background-color: var(--player-2-color); }

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-wrapper img {
    width: 100px;
    
    padding: 10px;
    border: 5px solid rgb(182, 182, 182);
    background-color: white;
    border-radius: 3px;

    object-position: 0px;
    transition: all .3s;
}
.image-wrapper img.upside-down {
    object-position: 100px;
    background-color: lightgray;
}
img.player-1 { border-color: var(--player-1-color-dark); }
img.player-2 { border-color: var(--player-2-color-dark); }

.win {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0vw;
    z-index: 1;
    
    background-color: white;
    background-image: url("./images/groceries.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .7s .5s;
}
.win.active {
    width: 100vw;
}

.win.active .score {
    justify-content: center;
    text-align: center;
    transition: all .7s .5s;
    font-size: 1.5rem;
}