:root {
    --player-1-color: thistle;
    --player-2-color: wheat;
    --player-1-color-dark: rgb(182, 73, 182);
    --player-2-color-dark: rgb(216, 153, 36);
}

* {
    box-sizing: border-box;
}

body {
    min-width: 250px;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;

    font-family: 'Lato', sans-serif;
    text-align: center;
}


/* PLAY BUTTON */

button.play {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.5rem;
}


/* IMAGES */

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-wrapper img {
    width: 50px;
    
    padding: 3px;
    border: 3px solid rgb(199, 199, 199);
    background-color: white;
    border-radius: 3px;

    object-position: 0px;
    transition: all .3s;
}
.image-wrapper img.upside-down {
    object-position: 100px;
    background-color: rgb(224, 224, 224);
}
img.player-1 { border-color: var(--player-1-color-dark); }
img.player-2 { border-color: var(--player-2-color-dark); }


/* PLAYER TURN INDICATOR */

.player-turn-indication {
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
}
.player-turn-indication.player-1 {
    background-color: var(--player-1-color);
    border: 5px solid var(--player-1-color-dark);
}
.player-turn-indication.player-2 {
    background-color: var(--player-2-color);
    border: 5px solid var(--player-2-color-dark);
}


/* STYLING FOR BIGGER SCREENS */

@media only screen and (min-width: 768px) {
    .image-wrapper img {
        width: 100px;
        padding: 10px;
        border-width: 5px;
    }
}
